<!-- About Section -->
<section id="about" class="container content-section text-center" style="padding-bottom: 100px;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Me</h2>
            <p>Cybersecurity analyst focused on threat detection, digital forensics, and real-time defense. Experience in competitive defense challenges and real-world simulations, specializing in detecting threats, analyzing compromised systems, and responding to incidents under pressure.</p>
            <p>Holds a Computer Science Bachelor's degree with a concentration in Information Assurance & Cybersecurity and a minor in Social Sciences from Tennessee Technological University. Additionally, holds an Computer Science Associate's Degree from Columbia State Community College.</p>
            <p>Competed nationally in cyber defense competitions, contributing to top-tier team placements while developing and deploying analysis tools tailored for high-security, real-world environments.</p>
            <p>As a proven instructor in competitive marching arts, led and mentored large groups with an emphasis on precision, clarity, and performance under pressure—skills brought into every cybersecurity challenge taken on.</p>
        </div>
    </div>
</section>
