    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="mx-auto my-0 text-uppercase">Mitchell Kiriazes</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Cybersecurity Specialist • Computer Scientist • Cavalier</h2>

                        <p class="intro-text">{{ site.description }}<br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
